// Log In
color: #FF6000;
 font-size: 32px;
 font-family: Poppins;
 font-weight: 800;
 word-wrap: break-word
---
// MENU
color: #FF6000;
 font-size: 34px;
 font-family: Poppins;
 font-weight: 800;
 word-wrap: break-word
---
// ABOUT US
color: #FF6000;
 font-size: 34px;
 font-family: Poppins;
 font-weight: 800;
 word-wrap: break-word
---
// CONTACT
color: #FF6000;
 font-size: 34px;
 font-family: Poppins;
 font-weight: 800;
 word-wrap: break-word
---
// MOS Burgers
color: #FFA559;
 font-size: 128px;
 font-family: Kyiv*Type Titling;
 font-weight: 840;
 line-height: 110px;
 word-wrap: break-word
---
// Burgers<br/>Fries<br/>Submarines<br/>Pasta<br/>Chicken
color: #F39F5A;
 font-size: 96px;
 font-family: Kyiv*Type Titling;
 font-weight: 840;
 word-wrap: break-word
---
// ORDER NOW
color: #1E1E1E;
 font-size: 24px;
 font-family: Poppins;
 font-weight: 500;
 letter-spacing: 2.40px;
 word-wrap: break-word
---
// SEE MENU
color: #1E1E1E;
 font-size: 24px;
 font-family: Poppins;
 font-weight: 500;
 letter-spacing: 2.40px;
 word-wrap: break-word